<div class="default-content-container" fxLayout="row" fxLayoutGap="32px">
  <div fxFlex="50">
    <img class="responsive-image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAvHAAAAJDQ1N2U4NGRmLTZjOGQtNGFjOS05NjI0LWY1MDg5YmJmZmVhNA.jpg">
  </div>
  <div fxFlex="50" fxFlexAlign="center">
    <h1>about me</h1>
    <p>I'm Front End Developer from Florianópolis, Brazil.</p>

    <p>I enjoy turning complex front-end problems and architectures into simple, clean and stable structures. When I'm out of ofiice, you'll find me traveling, within the nature or with friends and family.</p>

    <p>You can also know more about me as developer looking at my <a href="https://www.linkedin.com/in/brunojoao/" target="_blank">Linkedin</a> or <a href="https://stackoverflow.com/users/2009212/vinagreti" target="_blank">Stack Overflow</a> profiles.</p>
  </div>
</div>
