<div class="signin-menu row">
  <div class="col-phone-20 col-phone-offset-2 col-tablet-16 col-tablet-offset-4 col-laptop-12 col-laptop-offset-6 col-tv-6 col-tv-offset-9">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
    <div class="btn-wrapper">
      <button mat-fab color="accent" (click)="loginGoogle()">
        <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
      </button>
      <button mat-fab color="accent" (click)="loginFacebook()">
        <mat-icon fontSet="fa" fontIcon="fa-facebook"></mat-icon>
      </button>
      <button mat-fab color="accent" (click)="loginGithub()">
        <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
      </button>
      <button mat-fab color="accent" (click)="loginTwitter()">
        <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
      </button>
    </div>
  </div>
</div>
