@import './../../styles/constants';

:host {
  width: 100%;

  .toolbar-wrapper {
    max-width: $minDesktopWidth;
    margin: auto;
    display: flex;

    .toolbar-spacer {
      flex: 1 1 auto;
    }

    .toolbar-name, mat-icon{
      color: white;
    }
  }
}
