<form class="form" role="form" [formGroup]="shareForm" (submit)="share()">
  <mat-dialog-content>
    <h3 mt-dialog-title>Share something</h3>
    <mat-form-field>
      <input type="text" matInput placeholder="image" formControlName="image" />
    </mat-form-field>

    <img *ngIf="shareForm.controls.image.valid" [src]="shareForm.controls.image.value">

    <mat-form-field>
      <input type="text" matInput placeholder="title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="2" placeholder="share something here" formControlName="text"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="link" formControlName="link" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" type="submit">Share</button>
  </mat-dialog-actions>
</form>
