// PLUGINS THEME
//@import './user/user-theming';
@import './left-menu/left-menu-theming';


// Apply the theme.
@mixin app-components-theme($theme) {
  $accent: map-get($theme, accent);
  $accent-color: mat-color($accent);
  $accent-contrast: mat-contrast($accent, 500);

  @include app-left-menu-theming($theme);
}

