@import './style/constants';

.sidenav-toolbar{
  width: 100%;
  .toolbar-content {
    width: 100%;
    max-width: $maxDesktopWidth;
    margin: auto;
    display: flex;

    .toolbar-spacer {
      flex: 1 1 auto;
    }

    .toolbar-name, mat-icon{
      color: white;
    }
  }
}


.mat-sidenav-container{

  min-height: 100vh;

  .mat-sidenav {
    display: flex;
    overflow: visible;
    width: 300px;
  }

  .scrolling-content {
    overflow: auto;
    width: 100%;

    ol{
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      padding-top: 16px;
    }

    li, li a{
      width: 100%;
      font-size: 24px;
      text-align: left;
      line-height: 48px;
    }
  }
}


