@import './style/constants';

.sidenav-toolbar{
  .toolbar-content {
    width: 100%;
    max-width: $maxDesktopWidth;
    margin: auto;
    display: flex;

    .toolbar-spacer {
      flex: 1 1 auto;
    }

    .toolbar-name, mat-icon{
      color: white;
    }
  }
}

.sidenav-container .mat-sidenav-content,
.sidenav-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow: auto;
  height: 100vh;
}

.top-container {
 min-height: 100vh;
}
