@import './../styles/constants';

.main-toolbar{
  width: 100%;
  position: fixed;
  margin-top: -64px;
  z-index: 2;
}

@media screen and (max-width: $maxDesktopWidth) {
  .main-toolbar {
    margin-top: -56px;
  }
}

.main-sidenav-container{
  min-height: 100%;
  max-width: 100%;
  width: 100%;

  .mat-sidenav {
    min-width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
  }
}


