<div class="left-menu-wrapper">
  <ol>
    <li><a mat-button routerLink="about" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-user"></mat-icon> about
    </a></li>
    <li><a mat-button routerLink="open-source" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-code"></mat-icon> open source
    </a></li>
    <li><a mat-button routerLink="blog" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-commenting"></mat-icon> blog
    </a></li>
    <li><a mat-button routerLink="contact" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-envelope"></mat-icon> contact
    </a></li>

    <li><a mat-button href="https://www.linkedin.com/in/brunojoao/" target="_blank" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-linkedin"></mat-icon> linkedin
    </a></li>

    <li><a mat-button href="https://stackoverflow.com/users/2009212/vinagreti" target="_blank" (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-stack-overflow"></mat-icon> stack-overflow
    </a></li>

    <li><a mat-button routerLink="profile" *userRole (click)="sidenav.toggle()">
      <mat-icon fontIcon="fa-user"></mat-icon> profile
    </a></li>
  </ol>
</div>
