<div class="default-content-container">
  <form (submit)="save()">
    <mat-form-field>
      <input matInput type="text" placeholder="name" name="name" [(ngModel)]="profile.name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput textareaResize placeholder="about" name="about" [(ngModel)]="profile.about"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput textareaResize placeholder="skills" name="skills" [(ngModel)]="profile.skills"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="email" name="email" [(ngModel)]="profile.email">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
