
  <script type="text/javascript">

  </script>
</head>
<div>
  <table id="wrapper">
    <tr>
      <td>
        <form method="get" action="JavaScript:update();">
          <input id="input" class="border" type="text" size="30"
            onwebkitspeechchange="transcribe(this.value)" x-webkit-speech/>
        </form>
      </td>
    </tr>
  </table>

  <!-- Debbugging output -->
  <div style="margin:10px; visibility:hidden;">
    <textarea rows="20" cols="70" id="debugmessage">
    </textarea>
  </div>

  <script type="text/javascript">
    document.getElementById('input').focus();
  </script>
</div>
