// Import Angular Material Design components themes
@import '~@angular/material/theming';

// Import all App custom components theme.
@import './app/all-theme';

// Apply Angular Material Design global styles
@include mat-core();

// Default App Custom theme
$primary: mat-palette($mat-blue, 700);
$warn: mat-palette($mat-orange, 700);
$accent: mat-palette($mat-light-green, 500);
$green-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($green-theme);
@include app-components-theme($green-theme);


/*
* Global themed style
*/
a, b, h1{
	color: mat-color($primary);
}

$primary-color: mat-color($primary);
$primary-contrast: mat-contrast($primary, 500);
.primary-snackbar {
  background-color: $primary-color;
  color: $primary-contrast;
  a, button {color: $primary-contrast;}
}

$warn-color: mat-color($warn);
$warn-contrast: mat-contrast($warn, 500);
.warn-snackbar {
  background-color: $warn-color;
  color: $warn-contrast;
  a, button {color: $warn-contrast;}
}

$accent-color: mat-color($accent);
$accent-contrast: mat-contrast($accent, 500);
.accent-snackbar {
  background-color: $accent-color;
  color: $accent-contrast;
  a, button {color: $accent-contrast;}
}
