@import './../style/constants';

.home-title-wrapper{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-title{
  font-size: 5em;
}

.home-subtitle{
  font-size: 4em;
}

.home-bg-wrapper {
  overflow: hidden;
  height: 100vh;
}

.home-bg {
  background-position: 63% center;
  transition: background-position .8s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  button{
    display: block;
    margin: 64px auto;
    padding: 16px 48px;
  }
}

@media screen and (max-width: $maxDesktopWidth) {
  .home-title{
    font-size: 3em;
  }
  .home-subtitle{
    font-size: 2em;
  }
  .home-bg-wrapper {
    width: auto;
    min-height: auto;
    max-height: none;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }

  .home-bg {
    max-height: none;
    background-position: 85% center;
  }
}

@media screen and (max-width: ($maxDesktopWidth - $minPhoneWidth)/2) {
  .home-title{
    font-size: 2em;
  }
  .home-subtitle{
    font-size: 1.5em;
  }
}

@media screen and (max-width: $minPhoneWidth) {
  .home-title{
    font-size: 2em;
  }
  .home-subtitle{
    font-size: 1.5em;
  }
}
